@model List<Location>
@{
    ViewData["Title"] = "Locations";
}

<div class="text-center">
    <h1 class="jumbotron">Favorite Locations</h1>
    <p class="content">This Page is to showcase a compilation of Logan's Favorite Locations.</p>

	With my passion in photography, I have always enjoyed visiting new places.
	There are so many places I would like to visit as soon as I get the chance.
	
	Listed here is a ranked table of my favorite locations to take photos at, along with a description of what makes each location special.

    <div class="content">
		<pre class="divider" style="font-size:5px; font-weight: bold;"> 
    000000000000    
  00↑↑↑↑↑00↑↑↑↑↑00  
 0↑↑↑↑↑00  00↑↑↑↑↑0 
0↑↑↑↑↑0      0↑↑↑↑↑0
0↑↑↑↑↑0      0↑↑↑↑↑0
 00↑↑↑↑00  00↑↑↑↑↑0 
  00↑↑↑↑↑00↑↑↑↑↑00  
    00↑↑↑↑↑↑↑↑00    
      0↑↑↑↑↑↑0      
       0↑↑↑↑0       
        0↑↑0        
         00         
        </pre>

		<h2>Location List</h2>
		<a class="btn-content col nav-link" asp-controller="Location" asp-action="Add">Add New Location</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>City/State</th>
					<th>Year Established</th>
					<th>Description</th>
					<th>Rating</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var location in Model)
				{
					<tr>
						<td>@location.Name</td>
						<td>@location.Descriptor</td>
						<td>@location.Year</td>
						<td>@location.Description</td>
						<td>@location.Rating</td>
						<td>
							<a asp-controller="Location" asp-action="Edit"
							   asp-route-id="@location.LocationId"
							   asp-route-slug="@location.Slug">Edit</a>
							<a asp-controller="Location" asp-action="Delete"
							   asp-route-id="@location.LocationId"
							   asp-route-slug="@location.Slug">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>