@model List<Movie>
@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="jumbotron">Favorite Movies</h1>
    <p>This Page is to showcase a compilation of Jonathon's favorite movies.</p>

	<div class="content">

		<pre class="divider" style="font-size:5px; font-weight: bold; font-family: 'Source Code Pro';">
  0000000   0000000        
00↑↑0 0↑↑000↑↑0 0↑↑00      
0↑↑0   0↑↑↑↑↑0   0↑↑0      
00↑↑0 0↑↑000↑0 0↑↑00       
  0↑↑0↑↑0   0↑↑0↑↑0        
 0↑↑↑↑↑↑↑000↑↑↑↑↑↑↑00  0000
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑00↑↑↑0
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑0
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑00↑↑↑0
 00000000000000000000  0000
		</pre>

		<h2>Movie List</h2>
		<a asp-controller="Movie" asp-action="Add">Add New Movie</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Year</th>
					<th>Genre</th>
					<th>Rating</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var movie in Model)
				{
					<tr>
						<td>@movie.Name</td>
						<td>@movie.Year</td>
						<td>@movie.Genre.Name</td>
						<td>@movie.Rating</td>
						<td>
							<a asp-controller="Movie" asp-action="Edit"
							   asp-route-id="@movie.MovieId"
							   asp-route-slug="@movie.Slug">Edit</a>
							<a asp-controller="Movie" asp-action="Delete"
							   asp-route-id="@movie.MovieId"
							   asp-route-slug="@movie.Slug">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
